In [27]:
import pandas as pd

In [28]:
parse_dates = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']

In [29]:
df = pd.read_csv("./green_tripdata_2020-10.csv", sep=",", parse_dates = parse_dates, date_format='%Y/%m/%d %H:%M:%S')

/var/folders/p_/ld5fnvx11b7db63fgts97k540000gn/T/ipykernel_63832/664283026.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./green_tripdata_2020-10.csv", sep=",", parse_dates = parse_dates, date_format='%Y/%m/%d %H:%M:%S')

In [30]:
print(df.shape)

(95120, 20)

In [31]:
print(df.columns)

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [32]:
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0

In [33]:
# url = f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-{month}.csv.gz'

for i in range(10,13):
    print(f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-{i}.csv.gz')

https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz
https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-11.csv.gz
https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-12.csv.gz

In [34]:
for month in range(10,13):
        
    month_str = f"{month:02d}"
    print(month_str)

10
11
12

In [37]:
df[df['passenger_count'] == 0]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
153,2.0,2020-10-01 07:32:29,2020-10-01 07:32:35,N,5.0,242,242,0.0,0.08,9.0,0.0,0.0,1.86,0.0,NaN,0.3,11.16,1.0,2.0,0.0
483,1.0,2020-10-01 10:07:41,2020-10-01 10:31:50,N,1.0,188,37,0.0,3.90,17.5,0.0,0.5,0.00,0.0,NaN,0.3,18.30,1.0,1.0,0.0
484,1.0,2020-10-01 10:35:21,2020-10-01 10:55:56,N,1.0,37,198,0.0,3.10,15.0,0.0,0.5,0.00,0.0,NaN,0.3,15.80,2.0,1.0,0.0
581,1.0,2020-10-01 11:57:56,2020-10-01 12:25:20,N,1.0,97,76,0.0,5.10,21.0,0.0,0.5,0.00,0.0,NaN,0.3,21.80,2.0,1.0,0.0
694,1.0,2020-10-01 12:48:04,2020-10-01 13:02:00,N,1.0,77,61,0.0,2.60,11.5,0.0,0.5,1.00,0.0,NaN,0.3,13.30,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51748,1.0,2020-10-31 15:18:04,2020-10-31 15:33:01,N,1.0,97,225,0.0,2.60,11.5,0.0,0.5,0.00,0.0,NaN,0.3,12.30,2.0,1.0,0.0
51905,1.0,2020-10-31 16:32:02,2020-10-31 16:42:42,N,1.0,97,54,0.0,1.80,9.0,0.0,0.5,1.95,0.0,NaN,0.3,11.75,1.0,1.0,0.0
52043,1.0,2020-10-31 17:21:39,2020-10-31 17:25:53,N,1.0,52,40,0.0,0.70,5.0,0.0,0.5,0.00,0.0,NaN,0.3,5.80,2.0,1.0,0.0
52044,1.0,2020-10-31 17:47:03,2020-10-31 18:05:54,N,1.0,97,61,0.0,3.10,14.0,0.0,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
52180,1.0,2020-10-31 18:24:44,2020-10-31 18:37:40,N,1.0,188,71,0.0,1.50,10.0,0.0,0.5,0.00,0.0,NaN,0.3,10.80,2.0,1.0,0.0

In [40]:
df['VendorID'].unique()

array([ 2.,  1., nan])